.s-gifting-modal{
    .s-checkbox{
        @apply bg-white border-gray-300 #{!important};
        &:focus{
            --tw-ring-color: transparent !important;
        }
    }
    .s-gifting-filepond-placeholder-icon svg{
        @apply fill-gray-400 #{!important};
    }
}
.s-gifting-widget .s-list-tile-item{
    @apply border-none rounded-t-none;
}