.rtl,
[dir="rtl"] {
  .rtl-range-slider {
    transform: rotateY(180deg);
  }

  .rtl-range-numbers {
    flex-direction: row-reverse;
  }

  .form-select, select {
    background-position-inline-start: 0.5rem;
    padding-inline-end: 12px;
  }

  .fix-align {
    transform: translateY(-2px);
    display: inline-block;
  }

  .flatpickr {
    &-months {
      .numInputWrapper {
        .cur-year {
          padding-inline-end: 15px;
        }
      }
    }
  }
}